.not-home-page
  background-position-y 15% !important

.not-home-page.archives
  background-position-y: 50% !important

.not-home-page.categories
  background-image: url("/img/category_img.jpg") !important
  background-position-y: 20% !important

.not-home-page.tags
  background-image: url("/img/tag_img.jpg") !important
  background-position-y: 20% !important

.not-home-page.about
  background-image: url("/img/about_img.jpg") !important
  background-position-y: 55% !important

.post-bg.p
  background-position-y 15% !important

.footer.index
  background-image: url("/img/home_img.jpg") !important
  background-position-y: 95% !important

.footer.archives
  background-image: url("/img/archive_img.jpg") !important
  background-position-y: 90% !important

.footer.categories
  background-image: url("/img/category_img.jpg") !important
  background-position-y: 55% !important

.footer.tags
  background-image: url("/img/tag_img.jpg") !important
  background-position-y: 80% !important

.footer.about
  background-image: url("/img/about_img.jpg") !important
  background-position-y: 90% !important
